@(title: String)(content: Html)

<!DOCTYPE html>

<html ng-app="timereg">
<head>
<title>@title</title>
<meta name="viewport" content="width=device-width">
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/timereg.css")">
<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
<!--<script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script> -->

</head>
<body>
	<header id="navigationBar">
		<a href="#/timereg"><h1>Mesan</h1></a>

	</header>
	<div id="innhold">
		@content
	</div>
</body>
<script type="text/javascript" src="@routes.Assets.at("javascripts/angular.min.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/app.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/controllers.js")"></script>
<script src="@routes.Assets.at("javascripts/zepto.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/timereg.js")" type="text/javascript"></script>
</html>
