@(message: String)

<!DOCTYPE html>

<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>HTLM5/CSS3</title>
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

<meta name=apple-mobile-web-app-capable content=yes>
<meta name=apple-mobile-web-app-status-bar-style content=black>
<link rel='stylesheet' href='@routes.Assets.at("stylesheets/web.css")' type='text/css' />
</head>
<body>
	
	 
		<div id="logo">
			<img alt="logo" src="@routes.Assets.at("images/logo.png")">
		</div>
	
	<div id="header">
		<div id="menu">
			<div class="menuButton menuButtonWidth">Gjør vi?</div>
			<div class="menuButton menuButtonWidth">Er vi?</div>
			<div class="menuButton menuButtonWidth">Jobb</div>
			<div class="menuButton menuButtonWidth" id="hideMe">Kontakt</div>
		</div>
	</div>

	
	<h2>Transformation</h2>
	<div class="boks">
		<img id="transition" alt="logo" src="@routes.Assets.at("images/firefox.png")">
		<br />
		
		<br />
		Klikk i tekstboksen: <input type="text" id="mytextbox" />
	</div>
	
	
	<h2>My First Animation</h2>
	<div class="boks">
	    <div id="myanimation"></div>
	
	</div>

	<h2>Canvas</h2>
	

<canvas id="myCanvas"; width="200" height="100" >
Your browser does not support the HTML5 canvas tag.</canvas>


<script type="text/javascript">
	   var c=document.getElementById("myCanvas");
       var ctx=c.getContext("2d");
       var grd=ctx.createRadialGradient(75,50,5,90,60,100);
       grd.addColorStop(0,"red");
       grd.addColorStop(1,"white");
       ctx.fillStyle=grd;
       ctx.fillRect(0,0,150,80);
	 	
	 </script>
	 
</body></html>