@(message: String)

<!DOCTYPE html>

<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Insert title here</title>
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

<meta name=apple-mobile-web-app-capable content=yes>
<meta name=apple-mobile-web-app-status-bar-style content=black>
<link rel='stylesheet' href='@routes.Assets.at("stylesheets/web.css")' type='text/css' />
</head>
<body>

	<div id="top">
		<div id="logo">
			<img alt="logo" src="@routes.Assets.at("images/logo.png")" />
		</div>
	</div>
	<div id="header">
		<div id="menu">
			<div class="menuButton menuButtonWidth">Gjør vi?</div>
			<div class="menuButton menuButtonWidth">Er vi?</div>
			<div class="menuButton menuButtonWidth">Jobb</div>
			<div class="menuButton menuButtonWidth" id="hideMe">Kontakt</div>
		</div>
	</div>

	
	
	<div id="transition_boks">
		<img id="transition" alt="logo" src="@routes.Assets.at("images/firefox.png")">
	</div>
	
	
	<div id="animationboks">
	    <div id="myanimation"></div>
	
	</div>



</body>
</html>