html,body {
	padding: 0px;
	margin: 0px;
	width: 100%;
}

#top {
	height: 40px;
	width: 100%;
	padding: 0px;
	margin: 0px;
	background-color: #cc0000;
}

#news {
	height: 250px;
	width: 100%;
	padding: 0px;
	margin: 0px;
	background-color: #cc00cc;
}

#fag {
	height: 75px;
	width: 100%;
	padding: 0px;
	margin: 0px;
	background-color: #abcdef;
	text-align: right;
	line-height: 75px;
}

#calendar {
	height: 1000px;
	width: 100%;
	padding: 0px;
	margin: 0px;
	background-color: #dddddd;
}

#header {
	display: inline-block;
	height: 60px;
	width: 100%;
	padding: 0px;
	margin: 0px;
}

#menu {
	float: right;
	width: 100%;
	padding: 0px;
	margin: 0px;
	vertical-align: top;
	border-bottom: 1px solid #333333;
}

#logo {
	width: 100%;
	float: left;
	padding: 0px;
	margin: 0px;
}

.menuButton {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	background-color: #eeeeee;
	line-height: 60px;
	padding: 0px;
	margin: 0px;
	margin-left: -2px;
	margin-right: -2px;
	border-left: 1px solid #333333;
}

.menuButtonWidth {
	width: 33%;
}

#hideMe {
	display:none;
}


#typeDeviceDesktop {
	display:none;
}

#typeDeviceTablet {
	display:none;	
	
}

#typeDeviceMobile {
}
