html,body {
	padding: 0px;
	margin: 0px;
	width: 100%;
}

#top {
	height: 40px;
	width: 100%;
	padding: 0px;
	margin: 0px;
	background-color: #cc0000;
}

#news {
	height: 250px;
	width: 100%;
	padding: 0px;
	margin: 0px;
	background-color: #cc00cc;
}

#fag {
	height: 75px;
	width: 100%;
	padding: 0px;
	margin: 0px;
	background-color: #abcdef;
	text-align: right;
	line-height: 75px;
}

#calendar {
	height: 1000px;
	width: 100%;
	padding: 0px;
	margin: 0px;
	background-color: #dddddd;
}

#header {
	display: inline-block;
	height: 60px;
	width: 100%;
	padding: 0px;
	margin: 0px;
}

#menu {
	float: right;
	width: 100%;
	padding: 0px;
	margin: 0px;
	vertical-align: top;
	border-bottom: 1px solid #333333;
}

#logo {
	width: 100%;
	float: left;
	padding: 0px;
	margin: 0px;
}

.menuButton {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	background-color: #eeeeee;
	line-height: 60px;
	padding: 0px;
	margin: 0px;
	margin-left: -2px;
	margin-right: -2px;
	border-left: 1px solid #333333;
}



.menuButtonWidth {
	width: 25%;
}


    /* Large desktop */
@media only screen and (min-width: 1200px) {
	
}
     
/* Portrait tablet to landscape and desktop */
@media only screen and (min-width: 768px) and (max-width: 979px) {
	
}
 
/* Landscape phone to portrait tablet */
@media only screen and (max-width: 767px) {
	
}

/* Phone */
@media only screen and (max-width: 480px) {
	.menuButtonWidth {
		width: 33%;
	}
	#hideMe {
		display:none;
	}
}


/*WEB
/*---------------------------------------------*/

h2{
	text-align:center;
}

.boks{
    position:relative;
    width:530px;
    height:530px;
    margin:0 auto 10px;
    border:1px #aaa solid;
    padding:10px;
    background: #9c3;
    -webkit-transition: background 1s ease;
    -moz-transition: background 1s ease;
    -o-transition: background 1s ease;
    transition: background 1s ease;
}
.boks:hover
{
   background: #690;  
}

#transition 
{
	-webkit-transition: all 4s cubic-bezier(1.000, -0.530, 0.405, 1.425);
    -moz-transition: all 4s cubic-bezier(1.000, -0.530, 0.405, 1.425);
	-o-transition: all 4s cubic-bezier(1.000, -0.530, 0.405, 1.425);
	transition: all 4s cubic-bezier(1.000, -0.530, 0.405, 1.425);
}
  

  
  #transition:hover,
  #transition_boks.hover_effect 
  {
    -webkit-border-radius:30px;
    -moz-border-radius:30px;
    border-radius:30px;
    -webkit-transform: rotate(720deg);
	-moz-transform: rotate(720deg);
	-o-transform: rotate(720deg);
	-ms-transform: rotate(720deg);
	transform: rotate(720deg);    
	margin-left:420px;
 	
  }

#myanimation{
   width:100px;
   height:100px;
   background:red;
   animation:myfirst 5s;
   -moz-animation:myfirst 5s; /* Firefox */
   -webkit-animation:myfirst 5s; /* Safari and Chrome */
   -o-animation:myfirst 5s; /* Opera */
}

@keyframes myfirst
{
from {background:red;}
to {background:yellow;}
}

@-moz-keyframes myfirst /* Firefox */
{
from {background:red;}
to {background:yellow;}
}

@-webkit-keyframes myfirst /* Safari and Chrome */
{
from {background:red;}
to {background:yellow;}
}

@-o-keyframes myfirst /* Opera */
{
from {background:red;}
to {background:yellow;}
}