html,body {
	padding: 0px;
	margin: 0px;
	width: 100%;
}

#top {
	height: 40px;
	width: 100%;
	padding: 0px;
	margin: 0px;
	background-color: #cc0000;
}

#news {
	height: 250px;
	width: 100%;
	padding: 0px;
	margin: 0px;
	background-color: #cc00cc;
}

#fag {
	height: 75px;
	width: 100%;
	padding: 0px;
	margin: 0px;
	background-color: #abcdef;
	text-align: right;
	line-height: 75px;
}

#calendar {
	height: 1000px;
	width: 100%;
	padding: 0px;
	margin: 0px;
	background-color: #dddddd;
}

#header {
	display: inline-block;
	height: 60px;
	width: 100%;
	padding: 0px;
	margin: 0px;
}

#menu {
	float: right;
	width: 100%;
	padding: 0px;
	margin: 0px;
	vertical-align: top;
	border-bottom: 1px solid #333333;
}

#logo {
	width: 100%;
	float: left;
	padding: 0px;
	margin: 0px;
}

.menuButton {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	background-color: #eeeeee;
	line-height: 60px;
	padding: 0px;
	margin: 0px;
	margin-left: -2px;
	margin-right: -2px;
	border-left: 1px solid #333333;
}



.menuButtonWidth {
	width: 25%;
}


    /* Large desktop */
@media only screen and (min-width: 1200px) {
	
}
     
/* Portrait tablet to landscape and desktop */
@media only screen and (min-width: 768px) and (max-width: 979px) {
	
}
 
/* Landscape phone to portrait tablet */
@media only screen and (max-width: 767px) {
	
}

/* Phone */
@media only screen and (max-width: 480px) {
	.menuButtonWidth {
		width: 33%;
	}
	#hideMe {
		display:none;
	}
}


/*TRANSITION
/*----Form/Bevegelse---------------------------*/

.rullerende img
{
	width:60px;
    height:60px;
}
.rullerende 
{
	position:relative;
	width:60px;
    height:60px;
    margin-bottom: 40px;
}

fieldset
{
	width:50%;
	margin: 10px 0;
}

legend
{
	font-variant: small-caps;
}

#transition,
.boks{
    position:relative;
    width:95%;
    height:100px;
    border:1px #aaa solid;
    padding:10px;
   
  }
  
 #transition 
{
	height:170px;
}

.test_box {
  font-size:12px;
  position:relative;
  width:60px;
  height:60px;
  margin-bottom:10px;
  background-color:blue;
}
.test_box p
 {
  text-align:center;
  padding-top:4px;
}
  
 #ease.test_box
  {
    -webkit-transition: all 4s ease;
	-moz-transition: all 4s ease;
	-o-transition: all 4s ease;
	transition: all 4s ease;    
	border:1px #f00 solid;
  }
  
#firefox.rullerende 
{
   -webkit-transition: all 2s ease;
	-moz-transition: all 2s ease;
	-o-transition: all 2s ease;
	transition: all 2s none;   
}

 #transition:hover .test_box, 
 #transition.hover_effect .test_box
 {
    -webkit-border-radius:30px; /*border avrundes*/
    -moz-border-radius:30px;
    border-radius:30px;
    -webkit-transform: rotate(720deg);
	-moz-transform: rotate(720deg);
	-o-transform: rotate(720deg);
	-ms-transform: rotate(720deg);
	transform: rotate(720deg);    
	margin-left:85%;
    background-color:#fff;
  }
  
 #transition:hover .rullerende,
 #transition.hover_effect .rullerende
 {

    -webkit-transform: rotate(1440deg); /*hvor mange omdreininger*/
	-moz-transform: rotate(1440deg);
	-o-transform: rotate(1440deg);
	-ms-transform: rotate(1440deg);
	transform: rotate(1440deg);    
	margin-left:85%;       /*hvor mye flyttes bildet for hver rulling*/
	/*Denne prosenten må justeres utifra størrelsen på vinduet*/
  }

  
 /*----Farge--------------------------*/
 
 
#transition:hover,
.boks:hover
{
   background: #690;  
}

#mytextbox{
	background:WHITE;
    -webkit-transition: background 1s ease-out;
    -moz-transition: background 1s ease-out;
    -o-transition: background 1s ease-out;
    transition: background 1s ease-out;
}

#mytextbox:focus{
	background:GRAY;
}

#myanimation{
   width:100px;
   height:100px;
   background:red;
   animation:myfirst 5s;
   -moz-animation:myfirst 5s; /* Firefox */
   -webkit-animation:myfirst 5s; /* Safari and Chrome */
   -o-animation:myfirst 5s; /* Opera */
}

@keyframes myfirst
{
from {background:red;}
to {background:yellow;}
}

@-moz-keyframes myfirst /* Firefox */
{
from {background:red;}
to {background:yellow;}
}

@-webkit-keyframes myfirst /* Safari and Chrome */
{
from {background:red;}
to {background:yellow;}
}

@-o-keyframes myfirst /* Opera */
{
from {background:red;}
to {background:yellow;}
}




